*.tr
build/*
.waf*
.lock-waf*
.vscode/*
.python-version

analyze/raw_basic/*
mix/output/*
mix/*_flow.txt
config/*_flow.txt
analysis/figures/*.pdf
**/*.pyc
.vscode
__pycache__

.cache/
compile_commands.json
mix/.history
